html {
	font: 18px/1 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}

li a {
	font-size: .875em;
}

a {
	color: #94C3FF;
	text-decoration: none;
}

div.links ul {
	list-style-type: none;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 1em 3em;
	width: 100%;
}

div.links a {
	color: #FFFFFF;
	font-size: .5em;
}

div.links ul li {
	line-height: .5em;
	float: left;
	padding: 0 1em 1em 0;
}

@media screen and (min-width:750px) {
	div.links {
		position: fixed;
	}

	div.links ul {
		width: 80px;
		padding: 0;
	}

	div.links ul li {
		float: inherit;
		padding: 0;
	}
}

.gittext {
	color: #646464;
	font-weight: bold;
}

.lowercase {
	text-transform: lowercase;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
	font-size: 2em;
}

h1 span {
	color: #969696;
	font-size: .42em;
	margin-left: .476em;
}

h2 {
	font-size: 2em;
	line-height: 1.3;
}

h3 {
	font-size: 1.875em;
	line-height: 1.3;
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	min-width: 33em;
	max-width: 80em;
}

header {
	background-color: #E1E1E1;
	background-image: -webkit-gradient(radial, c
	center, 0px, center center, 100%, color-stop(0%, rgba(235, 235, 235, 0.7)), color-stop(50%, rgba(200, 200, 200, 0.3)), color-stop(100%, rgba(30, 30, 30, 0.25))); /* Chrome,Safari4+ */
	background-image: -webkit-radial-gradient(center, ellipse cover, rgba(235, 235, 235, 0.7) 0%, rgba(200, 200, 200, 0.3) 50%, rgba(30, 30, 30, 0.25) 100%);  /* Chrome10+,Safari5.1+ */
	background-image: -moz-radial-gradient(center, ellipse cover, rgba(235, 235, 235, 0.7) 0%, rgba(200, 200, 200, 0.3) 50%, rgba(30, 30, 30, 0.25) 100%);     /* FF3.6+ */
	background-image: -ms-radial-gradient(center, ellipse cover, rgba(235, 235, 235, 0.7) 0%, rgba(200, 200, 200, 0.3) 50%, rgba(30, 30, 30, 0.25) 100%);      /* IE10+ */
	background-image: -o-radial-gradient(center, ellipse cover, rgba(235, 235, 235, 0.7) 0%, rgba(200, 200, 200, 0.3) 50%, rgba(30, 30, 30, 0.25) 100%);       /* Opera 12+ */
	background-image: radial-gradient(ellipse at center, rgba(235, 235, 235, 0.7) 0%, rgba(200, 200, 200, 0.3) 50%, rgba(30, 30, 30, 0.25) 100%);              /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3EBEBEB', endColorstr='#401E1E1E',GradientType=1);                                     /* IE6-9 fallback on horizontal gradient */
	background-repeat: repeat;
	height: 30.3125em;
	padding-top: 0.6em;
}

header h1 {
	margin-top: .18em;
}

header h2 {
	font-size: 2.5em;
	margin-top: 0;
}

footer {
	background-color: #C8C8C8; /* Old browsers */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C8C8C8), color-stop(100%, #FFFFFF)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #C8C8C8 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
	background-image: -moz-linear-gradient(top, #C8C8C8 0%, #FFFFFF 100%);    /* FF3.6+ */
	background-image: -ms-linear-gradient(top, #C8C8C8 0%, #FFFFFF 100%);     /* IE10+ */
	background-image: -o-linear-gradient(top, #C8C8C8 0%, #FFFFFF 100%);      /* Opera 11.10+ */
	background-image: linear-gradient(to bottom, #C8C8C8 0%, #FFFFFF 100%);   /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#ffffff',GradientType=0); /* IE6-9 */
	border-top: solid 1px #F0F0F0;
}

footer div {
	padding-top: 0.9375em;
}

footer h1 {
	font-size: 1.375em;
	margin-top: -0.273em;
}

footer .gittext {
	color: #969696;
}

nav {
	border-bottom: solid 1px #C8C8C8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 4.375em;
	margin-bottom: 2em;
	padding: 0 1.3em;
}

nav h1 {
	float: left;
}

nav ul,
footer a {
	float: right;
}

nav ul {
	margin-top: 2.375em;
}

nav li,
footer li {
	text-transform: uppercase;
	float: left;
	margin-left: 1.5625em;
}

.feature article {
	position: relative;
	padding-right: 0px;
	width: 49.2%;
	margin-left: auto;
	margin-right: 0em;
	height: 20em;
}

.feature h2 {
	border-bottom: solid 1px #BEBEBE;
	color: #828282;
	line-height: 1.625em;
	margin-bottom: 0.375em;
	padding: 0.125em 0.375em;
}

.button {
	background-color: #4B8CE9; /* Old browsers */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4B8CE9), color-stop(100%,#2C66B8)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #4B8CE9 0%,#2C66B8 100%);    /* Chrome10+,Safari5.1+ */
	background-image: -moz-linear-gradient(top, #4B8CE9 0%, #2C66B8 100%);      /* FF3.6+ */
	background-image: -ms-linear-gradient(top, #4B8CE9 0%,#2C66B8 100%);        /* IE10+ */
	background-image: -o-linear-gradient(top, #4B8CE9 0%,#2C66B8 100%);         /* Opera 11.10+ */
	background-image: linear-gradient(to bottom, #4B8CE9 0%,#2C66B8 100%);      /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4B8CE9', endColorstr='#2C66B8',GradientType=0); /* IE6-9 */
	-webkit-box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, 0.2), inset 0 0 2px hsla(0, 100%, 100%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.29);
	-moz-box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, 0.2), inset 0 0 2px hsla(0, 100%, 100%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.29);
	box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, 0.2), inset 0 0 2px hsla(0, 100%, 100%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.29);
	-webkit-border-radius: 0.238em;
	-moz-border-radius: 0.238em;
	border-radius: 0.238em;
	border: 1px solid #0A3A7D;
	color: white;
	display: inline-block;
	font-size: 1.3125em;
	padding: 0.476em 3%;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.featurebutton {
	float: left;
	margin: 0 1%;
	width: 41%;
}

.imagerollover {
	float: left;
	position: relative;
	width: 46.5%;
}

.imagerollover img {
	position: absolute;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	width: 100%;
	height: auto;
}

.imagerollover .top:hover {
	opacity: 0;
}

.vcentercontainer {
	display: table;
	height: 100%;
}

.vcentercontainer div {
	display: table-cell;
}

.vcentercontainer div,
.vcentercontainer img {
	vertical-align: middle;
}

.vcentercontainer img {
	margin: 2.8125em auto;
}

.details {
	background-color: #2C66B8;
}

.details article {
	border-bottom: solid 0.3125em #00478F;
	border-top: solid 0.3125em #00478F;
}

.details .gittext {
	color: #FFFFFF;
}

.details p {
	margin-top: 0;
}

.details p a {
	color: #A3CFFF;
	text-decoration: underline;
}

.details h2 {
	background-color: #4A7CC2;
	border-bottom: solid 0.104em #7198C1;
	border-top: solid 0.104em #7198C1;
	-webkit-box-shadow: 0 0 0.8333em rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 0.8333em rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 0.8333em rgba(0, 0, 0, 0.4);
	clear: both;
	color: #FFFFFF;
	margin-bottom: 0.625em;
	margin-top: 0.9375em;
	padding: 0.1875em 0;
	text-align: center;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}

.details h3 {
	color: #F5F5F5;
	margin-bottom: 0;
	margin-top: 0.8333em;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.35);
}

.details .button {
	border: 1px solid #464646;
	background-color: #E0E0E0; /* Old browsers */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E0E0E0), color-stop(100%,#A3A3A3)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #E0E0E0 0%,#A3A3A3 100%);  /* Chrome10+,Safari5.1+ */
	background-image: -moz-linear-gradient(top, #E0E0E0 0%, #A3A3A3 100%);    /* FF3.6+ */
	background-image: -ms-linear-gradient(top, #E0E0E0 0%,#A3A3A3 100%);      /* IE10+ */
	background-image: -o-linear-gradient(top, #E0E0E0 0%,#A3A3A3 100%);       /* Opera 11.10+ */
	background-image: linear-gradient(to bottom, #E0E0E0 0%,#A3A3A3 100%);    /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#A3A3A3',GradientType=0); /* IE6-9 */
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

.details .content {
	height: 39.0625em;
}

.details p {
	color: #EBEBEB;
	line-height: 1.4em;
	margin-bottom: 0.3125em;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.35);
}

.details li, .details li p {
	line-height: 1.2em;
}

.details .vcentercontainer:first-child {
	margin-right: 5%;
}

.verticalgallery {
	float: none;
	text-align: center;
}

.verticalgallery img {
	border: solid 0.3125em #5881BD;
	-webkit-box-shadow: 0 0 2.8125em rgba(0, 0,0, 0.17);
	-moz-box-shadow: 0 0 2.8125em rgba(0, 0, 0, 0.17);
	box-shadow: 0 0 2.8125em rgba(0, 0, 0, 0.17);
	margin: 1.875em auto;
	width: 100%;
	height: auto;
}

.detailstext {
	float: left;
	width: 58%;
}

.detailsimg {
	float: left;
	width: 35%;
}

.contributecontent .detailsimg * {
	width: 100%;
	height: auto;
}

.list-unstyled {
	list-style-type: none;
	padding-left: 0;
}

.stud {
	clear: both;
}

